
body > .container {
    margin-top: 50px;
}

.text-muted {
    font-size: 13px;
}

h1 {
    font-size: 24px;
}

.search-results {
    margin-top: 25px;
}

.service-logo {
    max-width: 75px;
}

#form_searchString {
    width: 100%;
}