
body > .container {
    margin-top: 100px;
    margin-bottom: 50px;
}

.text-muted {
    font-size: 13px;
}

h1 {
    font-size: 24px;
}

.search-results {
    margin-top: 25px;
}

.service-logo {
    max-width: 65px;
}

.cc-logo {
    max-height: 50px;
    margin-top: -15px;
}

#form_searchString {
    width: 100%;
}

.song-tags {
    font-size: 11px;
    font-weight: bold;
}

.author-title p {
    margin-bottom: 5px;
}

.centered-test-col {
    text-align: center;
}