
parameters:
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     ccmusicsearch
    database_user:     root
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    secret:            ThisTokenIsNotSoSecretChangeIt

    google_analytics_code: ~

    api_client_class: CCMusicSearchBundle\Service\ApiClient

    cc_licenses: [by, by-nc, by-nd, by-sa, by-nc-nd, by-nc-sa]
    cc_license_image: https://i.creativecommons.org/l/license_type/4.0/80x15.png
    cc_license_url: http://creativecommons.org/licenses/license_type/4.0/

    api_services:
        jamendo: ccmusic_search.service.soundcloud_api_service
        soundcloud: ccmusic_search.service.jamendo_api_service
        ccmixter: ccmusic_search.service.ccmixter_api_service
        freemusicarchive: ccmusic_search.service.freemusicarchive_api_service

    jamendo.base_uri: https://api.jamendo.com/v3.0/tracks/
    jamendo.api_key: 45f790fc
    jamendo.limit: 50

    soundcloud.base_uri: http://api.soundcloud.com/tracks/
    soundcloud.api_key: bb204ae5ba93424cdb074d296c2d9d26
    soundcloud.limit: 10

    ccmixter.base_uri: http://ccmixter.org/api/
    ccmixter.api_key: no_api_key
    ccmixter.limit: 30

    freemusicarchive.base_uri: https://freemusicarchive.org/api/get/
    freemusicarchive.api_key: N4QX56TDJ2LGL4OG
    freemusicarchive.limit: 30
