
body > .container {
    margin-top: 50px;
}

.text-muted {
    font-size: 13px;
}

h1 {
    font-size: 24px;
}

.search-results {
    margin-top: 25px;
}

.search-form #search_tag {
    width: 500px;
}